In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200603122950-0000
KERNEL_ID = f9cf46af-e810-4335-8abf-fde9a44f37ba

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
iris_data = df_data_1
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
iris_sepal_data = iris_data.iloc[:, 0:2]
iris_sepal_data.head(25)

    sepal_length  sepal_width
0            5.1          3.5
1            4.9          3.0
2            4.7          3.2
3            4.6          3.1
4            5.0          3.6
5            5.4          3.9
6            4.6          3.4
7            5.0          3.4
8            4.4          2.9
9            4.9          3.1
10           5.4          3.7
11           4.8          3.4
12           4.8          3.0
13           4.3          3.0
14           5.8          4.0
15           5.7          4.4
16           5.4          3.9
17           5.1          3.5
18           5.7          3.8
19           5.1          3.8
20           5.4          3.4
21           5.1          3.7
22           4.6          3.6
23           5.1          3.3
24           4.8          3.4

In [12]:
iris_petal_data = iris_data.iloc[:, 2:]
iris_petal_data.head(25)

    petal_length  petal_width
0            1.4          0.2
1            1.4          0.2
2            1.3          0.2
3            1.5          0.2
4            1.4          0.2
5            1.7          0.4
6            1.4          0.3
7            1.5          0.2
8            1.4          0.2
9            1.5          0.1
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1
13           1.1          0.1
14           1.2          0.2
15           1.5          0.4
16           1.3          0.4
17           1.4          0.3
18           1.7          0.3
19           1.5          0.3
20           1.7          0.2
21           1.5          0.4
22           1.0          0.2
23           1.7          0.5
24           1.9          0.2